version: '3.8'

services:
  # 1. Database SQL Server
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: qna_db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Sa123456!
    ports:
      - "1436:1433"          # ĐỔI: host 1436 -> container 1433, tránh trùng SQL máy
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - qna_network

  # 2. Backend (.NET)
  backend:
    build:
      context: .             # build từ FinalProject
      dockerfile: Dockerfile # Dockerfile của BE
    container_name: qna_backend
    ports:
      - "7006:7006"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:7006
      # Key phải trùng ConnectionStrings:DefaultConnection trong appsettings
      - ConnectionStrings__DefaultConnection=Server=db,1433;Database=QnA;User Id=sa;Password=Sa123456!;TrustServerCertificate=True;
      - Qdrant__Enabled=true
      - Qdrant__Endpoint=http://qdrant:6333
      - Qdrant__CollectionName=qna_questions
      - Qdrant__Distance=Cosine
      - Qdrant__VectorSize=1536
    depends_on:
      - db
      - qdrant
    networks:
      - qna_network

  # 3. Frontend (Nginx)
  frontend:
    build:
      context: ./QnA_FE
      dockerfile: Dockerfile
    container_name: qna_frontend
    ports:
      - "3000:80"
    networks:
      - qna_network
    
  db-migrator:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    container_name: qna-db-migrator
    volumes:
      - .:/src
    working_dir: /src
    depends_on:
      - db
    networks:
      - qna_network
    environment:
      - ConnectionStrings__DefaultConnection=Server=db,1433;Database=QnA;User Id=sa;Password=Sa123456!;TrustServerCertificate=True;
    command: >
      /bin/bash -c "
      echo '--- Đợi DB sẵn sàng ---' &&
      sleep 20 &&
      echo '--- Cài đặt dotnet-ef ---' &&
      dotnet tool install --global dotnet-ef --version 8.0.10 || true &&
      echo '--- Chạy migration ---' &&
      /root/.dotnet/tools/dotnet-ef database update --project Infrastructure/Infrastructure.csproj --startup-project QnA_BE/QnA_BE.csproj --verbose &&
      echo '=== MIGRATION DONE ==='
      "

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qna_qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - qna_network

volumes:
  sql_data:
  qdrant_data:

networks:
  qna_network:
    driver: bridge
