/* assets/css/base.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  font-size: var(--text-md);
  line-height: 1.5;
  color: var(--color-text-main);
  background-color: var(--color-bg-body);

  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* Links */
a {
  color: var(--color-text-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Remove default list styles */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Basic inputs */
input,
button,
textarea,
select {
  font: inherit;
}

/* Page wrapper */
.page {
  padding: var(--space-6) 0 var(--space-8);
  flex: 1; /* QUAN TRỌNG: đẩy footer xuống dưới */
}
