/* assets/css/app.css */

@import url("./token.css");
@import url("./base.css");
@import url("./layout.css");
@import url("./components.css");
@import url("./utilities.css");

/* pages */
@import url("./pages/auth.css");
@import url("./pages/questions.css");